<div [formGroup]="form">
  <div *ngIf="useNativeInputDate">
    <input [id]="identifier"
           [attr.disabled]="disabled ? 'disabled' : null"
           [attr.required]="required"
           [attr.aria-required]="required"
           [attr.aria-invalid]="isValid"
           [formControlName]="controlName"
           type="date"
           class="form-control">
  </div>

  <div *ngIf="!useNativeInputDate" class="input-group">
    <input [id]="identifier"
           [focusOnInit]="focusOnInit"
           [attr.disabled]="disabled ? 'disabled' : null"
           [attr.required]="required"
           [attr.aria-required]="required"
           [attr.aria-invalid]="!isValid"
           type="text"
           class="form-control"
           #textInputDate
           (keyup)="onTypingDate(textInputDate.value)"
           (change)="onDateTyped(textInputDate.value)"
           [specialCharacters]="['.']" [showMaskTyped]="true"
           mask="00.00.0000" placeHolderCharacter="#"
           data-cy="date-input">

    <div class="input-group-addon has-btn">
      <button class="btn btn-info"
              type="button"
              [attr.disabled]="disabled ? 'disabled' : null"
              [attr.aria-label]="(!showDatePicker ? 'common.datepicker.open' : 'common.datepicker.close') | translate"
              (click)="showDatePicker = !showDatePicker">
        <i class="fa fa-calendar"></i>
      </button>
    </div>

    <ngb-datepicker *ngIf="showDatePicker"
                    class="dropdown-menu pull-right show"
                    [startDate]="startDate"
                    [minDate]="ngbMinDate"
                    [maxDate]="ngbMaxDate"
                    (select)="onDatePicked($event); showDatePicker = false"></ngb-datepicker>

  </div>
</div>
