<div [formGroup]="form">
  <div [formGroupName]="question.key"
       [attr.data-cy]="question.code + '_' + question.key"
       data-cy-type="nationalite">
    <div *ngFor="let x of [].constructor(numberOfNationalites); index as i; last as isLast; first as isFirst"
         class="nationalite-selection-box"
         formArrayName="pays">
      <select class="form-control"
              [formControlName]="i"
              [attr.disabled]="isApatride || !isLast ? 'disabled' : null"
              [focusOnInit]="isFirst"
              [attr.data-cy]="question.code + '_' + question.key + '_select_nationalite_' + i">
        <option *ngFor="let pays of question.paysOptions"
                [value]="pays">
          {{ 'common.pays.' + pays | translate }}
        </option>
      </select>

      <button class="btn btn-primary"
              [attr.aria-label]="'common.ajouterNationalite' | translate"
              [disabled]="isApatride || numberOfNationalites >= maxNumberOfNationalites || hasUnsetPays()"
              [style.visibility]="isLast ? 'visible' : 'hidden'"
              [attr.data-cy]="question.code + '_' + question.key + '_ajouter_nationalite_' + i"
              (click)="addPaysControl()">
        <i class="fa fa-plus"></i><span class="btn-text">{{ 'common.ajouterNationalite' | translate }}</span>
      </button>
      <button class="btn btn-danger"
              [attr.aria-label]="'common.supprimerNationalite' | translate"
              [disabled]="isApatride || !isLast || !hasPays()"
              [style.visibility]="isLast ? 'visible' : 'hidden'"
              [attr.data-cy]="question.code + '_' + question.key + '_supprimer_nationalite_' + i"
              (click)="popOrClearPaysControl()">
        <i class="fa fa-trash"></i>
      </button>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox"
               formControlName="apatride"
               (change)="onApatrideChanged()"
               [attr.data-cy]="question.code + '_' + question.key + '_checkbox_apatride'">
        {{ 'question.' + question.key + '.apatride.label' | translate }}
      </label>
      <p class="help-block">{{ 'question.' + question.key + '.apatride.help' | translate }}</p>
    </div>
  </div>

</div>
