.nationalite-selection-box {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > * {
    margin-right: 1rem;
  }


  > *:last-child {
    margin-right: 0;
  }
}

.btn-text {
  margin-left: 1rem;

  @media only screen and (max-width: 640px) {
    display: none;
  }
}
