html {
  min-height: 100%;
  position: relative;
}

body {
  position: static;
}

#page {
  min-height: calc(100vh - 534px);
  padding-bottom: 66px;
}

footer {
  width: 100%;
}

.btn-primary[disabled]:hover {
  color: #fff !important;
}

input[type="date"].form-control,
input[type="time"].form-control,
input[type="datetime-local"].form-control,
input[type="month"].form-control {
  line-height: 22px;
}

div.error {
  background-color: transparent;
}

.radio-inline > label {
  font-weight: normal;
}
