.deep-link {
  margin-top: 1em;
}

.deep-link-input {
  margin: 5px 0;
}

.deep-link-input[readonly] {
  background-color: #fff;
}

.deep-link label {
  font-weight: normal;
  font-style: italic;
}

.col {
  padding: 0;
}
