.deep-link-pop-in {
  padding: 0.2rem 0.8rem 0.6rem 0.8rem;
}

.deep-link-input[readonly] {
  background-color: #fff;
  border-color: #e5e5e5;
}

label.help-block {
  font-weight: normal;
  text-align: justify;
}

.deep-link-btn {
  margin: 0;
}
