[submodule "qeli-frontoffice-cypress/cypress/integration/features-metier"]
	path = qeli-frontoffice-cypress/cypress/integration/features-metier
	url = git@argon.ceti.etat-ge.ch:DEVELOPPEUR-SOCIAL/10818-qeli/qeli-scenarii-metier.git
