<div [formGroup]="form">
  <div [formGroupName]="question.key"
       role="radiogroup"
       [attr.aria-labelledby]="question.key+'_label'"
       [attr.aria-required]="question.required"
       [attr.aria-invalid]="!isValid"
       data-cy-question-input
       data-cy-question-type="date">

    <div class="radio" *ngIf="question.hasShortcuts">
      <label>
        <input type="radio"
               [value]="question.noShortcutOption.value"
               formControlName="shortcut"
               (change)="onShortcutChanged($event.currentTarget.checked, null)"
               data-matomo-ignore>
        {{ question.noShortcutOption.label.key | translate:question.noShortcutOption.label.parameters }}
      </label>
    </div>

    <div *ngIf="!isDateValid && dateErrors.length > 0"
         class="error-block text-danger"
         role="alert"
         [attr.aria-describedby]="question.key + '_label'"
         data-cy="validation_message">
      <p *ngFor="let error of dateErrors">
        {{ 'common.errorPrefix' | translate }}
        {{ question.errorLabels[error].key | translate:question.errorLabels[error].parameters  }}
      </p>
    </div>

    <app-date-input [form]="formGroup"
                    controlName="value"
                    [focusOnInit]="!disableFocusOnInit"
                    [required]="question.required"
                    [minDate]="question.minDate"
                    [maxDate]="question.maxDate"
                    [disabled]="isShortcutSelected"
                    [identifier]="question.key"
                    #dateInputComponent>
    </app-date-input>

    <div *ngFor="let shortcut of question.shortcutOptions">
      <hr>
      <div class="radio">
        <label>
          <input type="radio"
                 [value]="shortcut.value"
                 formControlName="shortcut"
                 (change)="onShortcutChanged($event.currentTarget.checked, shortcut)"
                 [attr.data-matomo-name]="question.dataCyIdentifier">
          {{ shortcut.label.key | translate:shortcut.label.parameters }}
        </label>
      </div>
    </div>

  </div>
</div>
