<div class="form-group">
  <div class="row question-title">
    <div class="col-xs-12 col-sm-8">
      <label class="control-label"
             [ngClass]="!isValid ? 'text-danger' : ''"
             [attr.for]="question.key"
             [attr.data-cy-label]="question.code + '_' + question.key">
        {{ question.getTranslationKey(form.value) | translate:question.createLabelParameters(form.value) }}
        <span *ngIf="question.required"
              class="form-required"
              title="{{ 'form.required' | translate }}">*</span>
      </label>
    </div>
    <div class="hidden-xs col-sm-4 text-right">
      <app-deep-link></app-deep-link>
    </div>
  </div>

  <p *ngIf="question.help" class="help-block"
     [innerHtml]="'question.' + question.key + '.help' | translate:question.createLabelParameters(form.value)">
  </p>

  <ng-template app-question-host></ng-template>

  <div *ngIf="!isValid"
       class="error-block"
       data-cy-label="validation_message">
      <span *ngFor="let error of errors" class="text-danger">
        {{ 'question.' + question.key + '.error.' + error | translate }}
      </span>
  </div>
</div>
