<div [formGroup]="form" class="form-group">
  <label class="control-label"
         [ngClass]="!isValid ? 'text-danger' : ''"
         [attr.for]="question.key">
    {{ 'question.' + question.key + '.label' | translate }}
    <span *ngIf="question.required"
          class="form-required"
          title="{{ 'form.required' | translate }}">*</span>
  </label>

  <p *ngIf="question.help" class="help-block">{{ 'question.' + question.key + '.help' | translate }}</p>

  <div [ngSwitch]="question.controlType"
       [ngClass]="!isValid ? 'error' : ''">

    <input *ngSwitchCase="'textbox'"
           [id]="question.key"
           [placeholder]="question.placeholder"
           [formControlName]="question.key"
           [type]="question.type"
           class="form-control">

    <input *ngSwitchCase="'date'"
           [id]="question.key"
           [formControlName]="question.key"
           type="date"
           class="form-control">

    <select *ngSwitchCase="'dropdown'"
            [id]="question.key"
            [formControlName]="question.key"
            class="form-control form-select">
      <option *ngFor="let option of question.options"
              [value]="option">
        {{ 'question.' + question.key + '.option.' + option | translate }}
      </option>
    </select>

    <div *ngSwitchCase="'checkbox-group'"
         [formGroupName]="question.key">
      <div *ngFor="let option of question.options; let i = index"
           class="checkbox">
        <label>
          <input type="checkbox" [formControlName]="option">
          {{ 'question.' + question.key + '.option.' + option | translate }}
        </label>
      </div>
    </div>
  </div>

  <div class="help-block" *ngIf="!isValid">
    <span *ngFor="let error of errors" class="text-danger">
      {{ 'question.' + question.key + '.error.' + error | translate }}
    </span>
  </div>
</div>
