.help-block {
  text-align: justify;
  margin-bottom: 10px;
}

.collapse-button {
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;

  span, i {
    display: inline-block;
    vertical-align: middle;
  }

  .outer-line {
    width: 40%;
    border-bottom: 1px solid #bbb;
  }

  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0 2% 0 2%;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
}
