<div class="dynamic-form" (keyup)="onKeyUp($event)">
  <div *ngIf="form && currentQuestion">
    <form [formGroup]="form" data-matomo-form data-matomo-name="formElement" id="formElement" #formElement>
      <app-dynamic-question [question]="currentQuestion" [form]="form"></app-dynamic-question>
    </form>

    <div class="form-navigation-controls row" (keyup)="$event.preventDefault()">
      <div class="previous-question col-xs-12 col-sm-6">
        <button class="btn btn-primary"
                data-cy='previousQuestion'
                (click)="previousQuestion()"
                *ngIf="currentQuestionIndex > 0"
                type="button">
          <i class="fa fa-chevron-left"></i> {{ 'form.previous' | translate }}
        </button>
      </div>

      <div class="next-question col-xs-12 col-sm-6 text-right">
        <button class="btn btn-primary"
                data-cy='nextQuestion'
                [disabled]="!isValid(currentQuestion)"
                (click)="nextQuestion()"
                type="button">
          {{ 'form.next' | translate }} <i class="fa fa-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
