<div class="dynamic-form">
  <form [formGroup]="form">
    <div *ngFor="let question of questions;let i = index" [hidden]="i !== currentQuestionIndex">
      <app-dynamic-question [question]="question" [form]="form"></app-dynamic-question>
    </div>
  </form>

  <div class="form-navigation-controls">
    <div class="previous-question">
      <button class="btn btn-primary"
              (click)="previousQuestion()"
              [disabled]="currentQuestionIndex <= 0">
        <i class="fa fa-chevron-left"></i> {{ 'form.previous' | translate }}
      </button>
    </div>

    <div class="next-question">
      <button class="btn btn-primary"
              [disabled]="!isValid(questions[currentQuestionIndex])"
              (click)="nextQuestion()">
        {{ 'form.next' | translate }} <i class="fa fa-chevron-right"></i>
      </button>
    </div>
  </div>
</div>
