.form-navigation-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  * {
    margin-right: 20px
  }

  *:last-child {
    margin-right: 0;
  }
}
