<div [formGroup]="form">
  <div [formGroupName]="question.key"
       [attr.data-cy]="question.identifier">

    <hr *ngIf="question.hasNone">
    <div *ngIf="question.hasNone" class="radio">
      <label>
        <input type="radio"
               [value]="'NON'"
               formControlName="none"
               (change)="onNoneChanged()"
               [focusOnInit]="true">
        {{ 'question.' + question.key + '.some' | translate }}
      </label>
    </div>

    <div *ngFor="let optionOrGroup of question.options; first as isFirstGroup"
         class="checkbox" [ngClass]="question.hasNone ? 'tab' : null">

      <p *ngIf="optionOrGroup.hasOwnProperty('options')" class="checkbox-group-title">
        {{ 'question.' + question.key + '.checkboxGroup.' + optionOrGroup.label | translate }}
      </p>

      <div [ngClass]="optionOrGroup.hasOwnProperty('options') ? 'tab subgroup' : null">
        <div *ngFor="let option of (optionOrGroup.hasOwnProperty('options') ? optionOrGroup.options : [optionOrGroup]);
                     first as isFirstOption">
          <label>
            <input type="checkbox"
                   [attr.disabled]="isNoneOrInconnuSelected ? 'disabled' : null"
                   [focusOnInit]="!question.hasNone && isFirstGroup && isFirstOption"
                   [value]="option.label"
                   (change)="onOptionChanged($event.currentTarget.value, $event.currentTarget.checked)"
                   [attr.data-cy]="option.label"
                   #optionCheckboxes>
            {{ 'question.' + question.key + '.option.' + option.label + (option.help ? '.label' : '') | translate }}
          </label>

          <p *ngIf="option.help" class="help-block">
            {{ 'question.' + question.key + '.option.' + option.label + '.help' | translate }}
          </p>
        </div>
      </div>
    </div>

    <hr *ngIf="question.hasNone">
    <div *ngIf="question.hasNone" class="radio">
      <label>
        <input type="radio"
               [value]="'OUI'"
               formControlName="none"
               (change)="onNoneChanged()"
               [attr.data-cy]="'NONE'">
        {{ 'question.' + question.key + '.none' | translate }}
      </label>
    </div>

    <hr *ngIf="question.hasInconnu">
    <div *ngIf="question.hasInconnu" class="radio">
      <label>
        <input type="radio"
               [value]="'INCONNU'"
               formControlName="none"
               (change)="onNoneChanged()"
               [attr.data-cy]="'INCONNU'">
        {{ 'question.' + question.key + '.inconnu' | translate }}
      </label>
    </div>
  </div>
</div>
