<div [formGroup]="form"
     role="radiogroup"
     [attr.aria-labelledby]="question.key+'_label'"
     [attr.aria-invalid]="!isValid"
     [attr.aria-required]="question.required">
  <div *ngFor="let option of question.radioOptions; first as isFirst"
       [class]="question.inline ? 'radio radio-inline' : 'radio'"
       data-cy-question-input
       data-cy-question-type="radio">
    <label>
      <input type="radio"
             [value]="option.value"
             [formControlName]="question.key"
             [focusOnInit]="!disableFocusOnInit && isFirst"
             [attr.data-matomo-name]="question.dataCyIdentifier">
      {{ option.label.key | translate:option.label.parameters }}
    </label>

    <p *ngIf="option.help" class="help-block">
      {{ option.help.key | translate:option.help.parameters }}
    </p>
  </div>
</div>

