<div [formGroup]="form">
  <select [id]="question.key"
          [formControlName]="question.key"
          [focusOnInit]="!disableFocusOnInit"
          [attr.aria-invalid]="!isValid"
          [attr.aria-required]="question.required"
          class="form-control form-select"
          [attr.data-cy]="question.dataCyIdentifier"
          [attr.data-matomo-name]="question.dataCyIdentifier">
    <option></option>
    <option *ngFor="let option of question.dropdownOptions" [value]="option.value">
      {{ option.label.key | translate:option.label.parameters }}
    </option>
  </select>
</div>
