<div [formGroup]="form">
  <div [formGroupName]="question.key" [attr.data-cy]="question.identifier">

    <div *ngIf="question.hasNone" class="checkbox none-option">
      <label>
        <input type="checkbox"
               formControlName="none"
               (change)="onNoneChanged()"
               data-cy="NONE">
        {{ 'question.' + question.key + '.option.NONE' | translate }}
      </label>
    </div>

    <hr>

    <div *ngFor="let field of question.fields; let i = index; first as isFirst">

      <div *ngIf="!isValid(field)" class="row">
        <div class="error-block col-md-12" data-cy-label="validation_message">
          <span *ngFor="let error of errors[field.label]" class="text-danger">
            {{ 'question.' + question.key + '.error.' + error | translate }}
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1">
          <input [attr.id]="'text-input-' + i"
                 [formGroup]="form"
                 [formControlName]="field.label"
                 type="number"
                 min="0"
                 max="20"
                 step="1"
                 [focusOnInit]="isFirst"
                 class="form-control"
                 [attr.data-cy]="field.label"
                 [attr.disabled]="isNoneSelected ? 'disabled' : null">
        </div>
        <div class="col-md-11">
          <label class="form-label" [attr.for]="'text-input-' + i">
            {{ 'question.' + question.key + '.option.' + field.label | translate }}
          </label>
        </div>
      </div>
    </div>

  </div>
</div>
