<footer class="footer">
  <div class="footer_haut">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-lg-8">
          <div class="region region-footer-haut-gauche">
            <section id="block-edg-2016-base-menu-services-informations" class="block block-edg-2016-base clearfix">
              <div class="item-list">
                <h3>{{ 'layout.footer.informationsGenerales' | translate }}</h3>
                <ul class="nav">
                  <li>
                    <a href="https://www.ge.ch/node/19715" target="_blank">{{ 'layout.footer.aideFormulaire'| translate  }}</a>
                  </li>
                </ul>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_bas">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <div class="region region-footer-bas">
            <section id="block-menu-block-1" class="block block-menu-block clearfix">
              <div class="menu-block-wrapper menu-block-1 menu-name-menu-pied-de-page-fonce parent-mlid-0 menu-level-1">
                <ul class="menu nav">
                  <li class="first leaf menu-mlid-5778">
                    <a href="https://www.ge.ch/conditions-generales">{{ 'layout.footer.conditionsGenerales' | translate }}</a>
                  </li>
                  <li class="leaf menu-mlid-4993">
                    <a href="https://www.ge.ch/conditions-generales#translation">{{ 'layout.footer.traduction' | translate }}</a>
                  </li>
                  <li class="last leaf menu-mlid-1441">
                    <a href="https://ge.ch/annuaire">{{ 'layout.footer.annuaire' | translate }}</a>
                  </li>
                </ul>
              </div>
            </section>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <span class="footer-logo">{{ 'layout.footer.titre' | translate }}</span>
        </div>
      </div>
    </div>
  </div>
</footer>
