<div [formGroup]="form">
  <div [formGroupName]="question.key"
       role="radiogroup"
       [attr.aria-labelledby]="question.key+'_label'"
       data-cy-question-input
       data-cy-question-type="taux">
    <hr>

    <div class="radio">
      <label>
        <input type="radio"
               [value]="false"
               formControlName="other"
               (change)="onOtherChanged()"
               [attr.data-matomo-name]="question.dataCyIdentifier">
        {{ 'common.taux.selectboxOption' | translate }}
      </label>
    </div>

    <div class="tab" [hidden]="isOtherSelected">
      <select formControlName="value"
              [attr.disabled]="isOtherSelected ? 'disabled' : null"
              [attr.aria-invalid]="!isValid"
              [attr.aria-required]="question.required"
              [focusOnInit]="!disableFocusOnInit"
              class="form-control form-select"
              [attr.data-matomo-name]="question.dataCyIdentifier">
        <option></option>
        <option *ngFor="let option of options" [value]="option">{{  option + '%' }}</option>
      </select>
    </div>

    <hr>
    <div class="radio">
      <label>
        <input type="radio"
               [value]="true"
               formControlName="other"
               (change)="onOtherChanged()"
               [attr.data-matomo-name]="question.dataCyIdentifier">
        {{ 'common.taux.textboxOption' | translate }}
      </label>
    </div>

    <div class="tab"
         [hidden]="!isOtherSelected">
      <input [formGroup]="form"
             [attr.disabled]="!isOtherSelected ? 'disabled' : null"
             [attr.aria-invalid]="!isValid"
             [attr.aria-required]="question.required"
             [focusOnInit]="!disableFocusOnInit"
             formControlName="value"
             type="number"
             (keypress)="isNumber($event)"
             min="0"
             max="100"
             class="form-control"
             [attr.data-matomo-name]="question.dataCyIdentifier">
    </div>
  </div>
</div>
