<div [formGroup]="form">
  <div [formGroupName]="question.key"
       role="radiogroup"
       [attr.aria-labelledby]="question.key+'_label'"
       data-cy-question-input
       data-cy-question-type="taux">
    <hr>

    <div class="radio">
      <label>
        <input type="radio"
               [value]="false"
               formControlName="isHourly"
               (change)="onTypeOfInputChanged()"
               [attr.data-matomo-name]="question.dataCyIdentifier">
        {{ 'common.taux.percentageOption' | translate }}
      </label>
    </div>

    <div class="tab" [hidden]="isHourlyInputSelected">
      <div class="input-group">
        <input [formGroup]="form"
               [attr.disabled]="isHourlyInputSelected ? 'disabled' : null"
               [attr.aria-invalid]="!isValid"
               [attr.aria-required]="question.required"
               [focusOnInit]="!disableFocusOnInit"
               formControlName="value"
               type="number"
               (keypress)="isNumber($event)"
               min="0"
               max="100"
               class="form-control"
               [attr.data-matomo-name]="question.dataCyIdentifier">

        <div class="input-group-addon">
          <span>%</span>
        </div>
      </div>
    </div>

    <hr>
    <div class="radio">
      <label>
        <input type="radio"
               [value]="true"
               formControlName="isHourly"
               (change)="onTypeOfInputChanged()"
               [attr.data-matomo-name]="question.dataCyIdentifier">
        {{ 'common.taux.hourlyOption' | translate }}
      </label>
    </div>

    <div class="tab" [hidden]="!isHourlyInputSelected">
      <div class="input-group">
        <input [formGroup]="form"
               [attr.disabled]="!isHourlyInputSelected ? 'disabled' : null"
               [attr.aria-invalid]="!isValid"
               [attr.aria-required]="question.required"
               [focusOnInit]="!disableFocusOnInit"
               formControlName="value"
               type="number"
               (keypress)="isNumber($event)"
               min="0"
               max="100"
               class="form-control"
               [attr.data-matomo-name]="question.dataCyIdentifier">
        <div class="input-group-addon">
          <span>{{'common.taux.hourlySuffix' | translate }}</span>
        </div>
      </div>
      <div class="help-block" *ngIf="weeklyTaux === 0 || weeklyTaux">
        {{ 'common.taux.calculatedTaux' | translate:{weeklyTaux: weeklyTaux} }}
      </div>
    </div>
  </div>
</div>
