<div class="highlighted jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="region region-highlighted">
          <nav class="navbar navbar-default">
            <div class="container-fluid ">
              <div class="navbar-header region-highlighted">
                <section id="block-block-1" class="block block-block clearfix w-100">
                  <p aria-hidden="true">
                    <a target="_blank" href="{{ 'layout.toolbar.link' | translate }}" role="link">
                      {{ 'layout.toolbar.home' | translate }}
                    </a>
                  </p>
                </section>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
