<div [formGroup]="form">
  <div [formGroupName]="question.key"
       role="radiogroup"
       [attr.aria-labelledby]="question.key+'_label'"
       [attr.aria-required]="question.required"
       [attr.aria-invalid]="!isValid"
       [attr.data-cy]="question.dataCyIdentifier">

    <hr *ngIf="question.hasNone">
    <div *ngIf="question.hasNone" class="radio">
      <label [id]="question.key + '_some_option_label'">
        <input type="radio"
               [value]="question.someOption.value"
               formControlName="none"
               [focusOnInit]="!disableFocusOnInit"
               (change)="onNoneChanged()"
               [attr.data-matomo-name]="question.dataCyIdentifier">
        {{ question.someOption.label.key| translate:question.someOption.label.parameters }}
      </label>
    </div>

    <div role="group"
         [attr.aria-labelledby]="question.key + '_some_option_label'">
      <div *ngFor="let optionOrGroup of question.checkboxOptions"
           class="checkbox" [ngClass]="question.hasNone ? 'tab' : null">

        <p *ngIf="optionOrGroup.hasOwnProperty('options')" class="checkbox-group-title">
          {{ optionOrGroup.label.key | translate: optionOrGroup.label.parameters }}
        </p>

        <div [ngClass]="optionOrGroup.hasOwnProperty('options') ? 'tab subgroup' : null">
          <div
            *ngFor="let option of (optionOrGroup.hasOwnProperty('options') ? optionOrGroup.options : [optionOrGroup])"
            class="checkbox">
            <label>
              <input type="checkbox"
                     [attr.disabled]="isNoneOrInconnuSelected ? 'disabled' : null"
                     [value]="option.value"
                     (change)="onOptionChanged($event.currentTarget.value, $event.currentTarget.checked)"
                     [attr.data-cy]="option.value"
                     #optionCheckboxes
                     [attr.data-matomo-name]="question.dataCyIdentifier">
              {{ option.label.key | translate:option.label.parameters }}
            </label>

            <p *ngIf="option.help" class="help-block">
              {{ option.help.key | translate:option.help.parameters }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <hr *ngIf="question.hasNone">
    <div *ngIf="question.hasNone" class="radio">
      <label>
        <input type="radio"
               [value]="question.noneOption.value"
               formControlName="none"
               (change)="onNoneChanged()"
               [attr.data-cy]="question.noneOption.value"
               [attr.data-matomo-name]="question.dataCyIdentifier">
        {{ question.noneOption.label.key| translate:question.noneOption.label.parameters }}
      </label>
    </div>

    <hr *ngIf="question.hasInconnu">
    <div *ngIf="question.hasInconnu" class="radio">
      <label>
        <input type="radio"
               [value]="question.inconnuOption.value"
               formControlName="none"
               (change)="onNoneChanged()"
               [attr.data-cy]="question.inconnuOption.value"
               [attr.data-matomo-name]="question.dataCyIdentifier">
        {{ question.inconnuOption.label.key| translate:question.inconnuOption.label.parameters }}
      </label>
    </div>
  </div>
</div>
