<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <property name="CSV_LOG_FILE" value="/mnt/10818-QELI-logs/qeli-stats.csv"/>
    <appender name="CSV" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d{dd-MM-yyyy},%d{HH:mm:ss},%msg%n</pattern>
        </encoder>
        <file value="${CSV_LOG_FILE}"/>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${CSV_LOG_FILE}.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>-0</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="ch.ge.social.qeli.service.stats.StatsServiceImpl" additivity="false" level="TRACE">
        <appender-ref ref="CSV"/>
    </logger>

</configuration>
