<div *ngIf="qeliConfiguration">
  <app-navigation-menu [qeliStateMachine]="qeliStateMachine">
  </app-navigation-menu>

  <div class="container">
    <app-form-setup
      *ngIf="!qeliStateMachine"
      #qeliSetupForm>
    </app-form-setup>

    <app-form-result
      *ngIf="qeliStateMachine && qeliStateMachine.state.done"
      [qeliStateMachine]="qeliStateMachine">
    </app-form-result>

    <app-qeli-form
      *ngIf="qeliStateMachine"
      [hidden]="qeliStateMachine.state.done"
      [qeliStateMachine]="qeliStateMachine"
      #qeliForm>
    </app-qeli-form>

    <button type="button" (click)="openModel()">Open Modal</button>

    <div #myModal class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title ">Title</h5>
            <button type="button" class="close" (click)="closeModel()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Some text in the modal.</p>
          </div>
        </div>
      </div>
    </div>

    <app-navigation-controls
      *ngIf="!qeliStateMachine || (qeliStateMachine && !qeliStateMachine.state.done)"
      [disablePrevious]="!qeliStateMachine"
      (onNextClicked)="onNextClicked()"
      (onPreviousClicked)="onPreviousquestion()">
    </app-navigation-controls>

    <div class="row visible-xs hidden-sm">
      <div class="col-xs-12 text-right">
        <app-deep-link></app-deep-link>
      </div>
    </div>
  </div>
</div>
