<div *ngIf="qeliConfiguration">
  <app-navigation-menu [qeliStateMachine]="qeliStateMachine">
  </app-navigation-menu>

  <div class="container">

    <app-modal-validation
      *ngIf="displayFormSetupAlertModal"
      (onRefuse)="onCancel()"
      (onAccepte)="returnToSetup()">
    </app-modal-validation>

    <app-form-setup
      *ngIf="!qeliStateMachine"
      [demandeur]="demandeurData"
      #qeliSetupForm>
    </app-form-setup>

    <app-form-result
      *ngIf="qeliStateMachine && qeliStateMachine.state.done"
      [qeliStateMachine]="qeliStateMachine">
    </app-form-result>

    <app-qeli-form
      *ngIf="qeliStateMachine"
      [hidden]="qeliStateMachine.state.done"
      [qeliStateMachine]="qeliStateMachine"
      #qeliForm>
    </app-qeli-form>

    <app-navigation-controls
      *ngIf="!qeliStateMachine || (qeliStateMachine && !qeliStateMachine.state.done)"
      [disablePrevious]="!qeliStateMachine"
      (onNextClicked)="onNextClicked()"
      (onPreviousClicked)="onPreviousquestion()">
    </app-navigation-controls>

    <div class="row visible-xs hidden-sm">
      <div class="col-xs-12 text-right">
        <app-deep-link></app-deep-link>
      </div>
    </div>
  </div>
</div>
