<app-navigation [questions]="questions"
                [formState]="formState"
                (onQuestionSelected)="dynamicForm.navigateToQuestion($event)">
</app-navigation>

<div class="container">
  <app-dynamic-form *ngIf="!formState.done"
                    [questions]="questions"
                    [formState]="formState"
                    (onQuestionChanged)="onQuestionChanged($event)"
                    #dynamicForm>
  </app-dynamic-form>

  <app-form-result *ngIf="formState.done"
                   [formState]="formState">
  </app-form-result>

  <app-deep-link></app-deep-link>
</div>
