<div [formGroup]="form" [trackQuestionIdentifier]="question.identifier">

  <div [formGroupName]="question.key"
       [attr.data-cy]="question.identifier"
       data-cy-type="date">

    <div class="radio" *ngIf="question.shortcuts.length > 0">
      <label>
        <input type="radio"
               [value]="null"
               formControlName="shortcut"
               (change)="onShortcutChanged($event.currentTarget.checked, null)"
               data-cy="NO_SHORTCUT"
               data-matomo-ignore>
        {{ 'question.' + question.key + '.defaultShortcut' | translate }}
      </label>
    </div>

    <div *ngIf="!isDateValid && dateErrors.length > 0"
         class="error-block text-danger"
         data-cy-label="validation_message">
      <p *ngFor="let error of dateErrors">
        {{ 'question.' + question.key + '.error.' + error | translate }}
      </p>
    </div>

    <app-date-input [dateControl]="dateControl"
                    [minDate]="question.minDate"
                    [maxDate]="question.maxDate"
                    [disabled]="isShortcutSelected"
                    [identifier]="question.key"
                    #dateInputComponent>
    </app-date-input>

    <div *ngFor="let shortcut of question.shortcuts">
      <hr>
      <div class="radio">
        <label>
          <input type="radio"
                 [value]="shortcut.label"
                 formControlName="shortcut"
                 (change)="onShortcutChanged($event.currentTarget.checked, shortcut)"
                 [attr.data-cy]="shortcut.label"
                 [attr.data-matomo-name]="question.identifier">
          {{ 'question.' + question.key + '.shortcut.' + shortcut.label | translate }}
        </label>
      </div>
    </div>

  </div>
</div>
