<div class="form-group">
  <div class="row question-title">
    <div class="col-xs-12 col-sm-8"
         [ngClass]="disableDeepLink ? '': 'col-sm-8'">
      <label class="control-label"
             [ngClass]="question.showErrors && !isValid ? 'text-danger' : ''"
             [attr.for]="question.key"
             [attr.data-cy-label]="question.dataCyIdentifier">
        {{ label.key | translate:label.parameters }}
        <span *ngIf="question.required"
              class="form-required"
              title="{{ 'form.required' | translate }}">*</span>
      </label>
    </div>

    <div *ngIf="!disableDeepLink" class="visible-sm visible-md visible-lg col-sm-4 text-right">
      <app-deep-link></app-deep-link>
    </div>
  </div>

  <p *ngIf="help" class="help-block" [innerHtml]="help.key | translate:help.parameters"></p>

  <div *ngIf="question.showErrors && !isValid && errors.length > 0"
       class="error-block text-danger"
       data-cy-label="validation_message">
    <p *ngFor="let error of errors">
      {{ question.errorLabels[error].key | translate:question.errorLabels[error].parameters  }}
    </p>
  </div>

  <ng-template app-question-host></ng-template>
</div>
