<div class="form-group"
     [attr.data-cy-question]="question.dataCyIdentifier">

  <div class="introduction-block"
       *ngIf="introduction"
       [innerHTML]="introduction.key | translate : introduction.parameters">
  </div>

  <div class="row question-title">
    <div class="col-xs-12 col-sm-8"
         [ngClass]="disableDeepLink ? '': 'col-sm-8'">
      <label class="control-label"
             [ngClass]="question.showErrors && !isValid ? 'text-danger' : ''"
             [attr.for]="question.key"
             [id]="question.key + '_label'"
             data-cy-question-label>
        {{ label.key | translate:label.parameters }}
        <span *ngIf="question.required"
              class="form-required"
              title="{{ 'form.required' | translate }}">*</span>
      </label>
    </div>

    <div *ngIf="!disableDeepLink" class="visible-sm visible-md visible-lg col-sm-4 text-right">
      <app-deep-link></app-deep-link>
    </div>
  </div>

  <app-help-block *ngIf="help" [text]="help" [collapsable]="false"></app-help-block>
  <app-help-block *ngIf="extraHelp" [text]="extraHelp" [collapsable]="true"></app-help-block>

  <div *ngIf="question.showErrors && !isValid && errors.length > 0"
       class="error-block text-danger"
       data-cy="validation_message"
       role="alert"
       [attr.aria-describedby]="question.key + '_label'">
    <p *ngFor="let error of errors">
      {{ 'common.errorPrefix' | translate }}
      {{ question.errorLabels[error].key | translate:question.errorLabels[error].parameters  }}
    </p>
  </div>

  <ng-template app-question-host></ng-template>
</div>
