[center][b] Récapitulatif des résultats du questionnaire[/b][/center]
[b]"Ai-je droit à des prestations sociales ?"[/b]
[p] [p] [p] [p]Pour rappel, le résultat de ce questionnaire est indicatif. Il n'est pas une preuve que vous recevrez ces prestations sociales.
[p] [p]Vous avez indiqué que vous recevez déjà (la prestation suivante / les prestations suivantes)[nb]:
[p]
{{#prestationsDejaPercues}}
  [br]{{.}}
{{/prestationsDejaPercues}}
[p] [p]Sur la base de vos réponses, il est possible que vous puissiez bénéficier des prestations sociales suivantes [nb] :
[p]
{{#prestationsEligibles}}
  [bl]{{.}}
{{/prestationsEligibles}}
[p] [p]Sur la base de vos réponses, il n'est pas utile de déposer des demandes pour les prestations sociales suivantes [nb] :
[p]
{{#prestationsRefusees}}
  [p]Les raisons qui pourraient vous empêcher de recevoir un {{.}}[nb]:
{{/prestationsRefusees}}
[p] [p] [p] [p] [p]
