<div [formGroup]="form">
  <div *ngIf="useNativeInputDate">
    <input [id]="question.key"
           [formControlName]="question.key"
           type="date"
           class="form-control"
           [attr.data-cy]="question.identifier">
  </div>

  <div *ngIf="!useNativeInputDate" class="input-group">
    <input [id]="question.key"
           focusOnInit="true"
           type="text"
           class="form-control"
           #textInputDate
           (keyup)="onTypingDate(textInputDate.value)"
           (change)="onDateTyped(textInputDate.value)"
           [specialCharacters]="['.']" [showMaskTyped]="true"
           mask="00.00.0000" placeHolderCharacter="#"
           [attr.data-cy]="question.identifier">

    <div class="input-group-addon has-btn">
      <button class="btn btn-info" type="button" (click)="showDatePicker = !showDatePicker">
        <i class="fa fa-calendar"></i>
      </button>
    </div>

    <ngb-datepicker *ngIf="showDatePicker"
                    class="dropdown-menu pull-right show"
                    [startDate]="startDate"
                    [minDate]="minDate"
                    [maxDate]="maxDate"
                    (select)="onDatePicked($event); showDatePicker = false"></ngb-datepicker>
  </div>
</div>
