<div [formGroup]="form"
     data-cy-question-input
     data-cy-question-type="number">
  <input [id]="question.key"
         [formGroup]="form"
         [formControlName]="question.key"
         [placeholder]="question.placeholder || ''"
         type="number"
         [min]="question.min"
         [max]="question.max"
         [focusOnInit]="!disableFocusOnInit"
         class="form-control"
         [attr.aria-invalid]="!isValid"
         [attr.aria-required]="question.required"
         [attr.data-matomo-name]="question.dataCyIdentifier">
</div>
