<div>
  <h2>{{ 'home.setup.title' | translate }}</h2>
  <p class="help-block" [innerHtml]="'home.setup.subtitle' | translate"></p>

  <div *ngIf="marieOuPartenaireSansConjoint"
       class="error-block text-danger"
       role="alert">
    <p>
      {{ 'home.setup.errors.marieOuPartenaireSansConjoint' | translate }}
    </p>
  </div>

  <form [formGroup]="setupForm" #formElement>
    <div class="row form-group">

      <div class="col-sm-4" data-cy="demandeur-etat-civil">
        <input type="hidden" formControlName="id" value="0">
        <app-input-container identifier="etatCivil"
                             required="true"
                             label="{{ 'home.setup.demandeur.etatCivil.label' | translate }}"
                             [control]="setupForm.controls['etatCivil']"
                             [errorLabels]="errorLabels">
          <select id="etatCivil"
                  aria-required="true"
                  [attr.aria-invalid]="isInvalid(setupForm.controls['etatCivil'])"
                  [attr.disabled]="numberOfMembres > 0 ? 'disabled' : null"
                  formControlName="etatCivil"
                  class="form-control form-select">
            <option></option>
            <option *ngFor="let option of etatCivilOptions" [value]="option">
              {{ 'home.setup.demandeur.etatCivil.options.' + option | translate }}
            </option>
          </select>
        </app-input-container>
      </div>

      <div class="col-sm-4" data-cy="demandeur-date-naissance">
        <app-input-container identifier="dateNaissance"
                             required="true"
                             label="{{ 'home.setup.demandeur.dateNaissance.label' | translate }}"
                             [control]="setupForm.controls['dateNaissance']"
                             [errorLabels]="errorLabels">
          <app-date-input identifier="dateNaissance"
                          required="true"
                          [disabled]="numberOfMembres > 0"
                          [minDate]="minDateNaissance"
                          [maxDate]="maxDateNaissance"
                          [dateControl]="setupForm.controls['dateNaissance']">
          </app-date-input>
        </app-input-container>
      </div>

      <div class="col-sm-3" data-cy="demandeur-prenom">
        <app-input-container identifier="prenom"
                             label="{{ 'home.setup.demandeur.prenom.label' | translate }}"
                             [control]="setupForm.controls['prenom']"
                             [errorLabels]="errorLabels">
          <input id="prenom"
                 [attr.disabled]="numberOfMembres > 0 ? 'disabled' : null"
                 [attr.aria-invalid]="isInvalid(setupForm.controls['prenom'])"
                 formControlName="prenom"
                 placeholder="{{ 'home.setup.demandeur.prenom.placeholder' | translate }}"
                 type="text"
                 class="form-control">
        </app-input-container>
      </div>
    </div>

    <div *ngFor="let membre of membresFamilleControls; index as i; last as isLast;" [attr.data-cy]="'membre-' + i">
      <hr>
      <div class="row member-row" [formGroup]="membre">
        <div class="col-sm-4" data-cy="membre-relation">
          <input type="hidden" formControlName="id" [value]="i + 1">
          <app-input-container identifier="{{ 'relationMembre' + i }}"
                               required="true"
                               label="{{ 'home.setup.membre.relation.label' | translate }}"
                               [control]="membre.controls['relation']"
                               [errorLabels]="errorLabels">
            <select id="{{ 'relationMembre' + i }}"
                    formControlName="relation"
                    [focusOnInit]="isLast"
                    aria-required="true"
                    [attr.aria-invalid]="isInvalid(membre.controls['relation'])"
                    [attr.disabled]="!isLast ? 'disabled' : null"
                    class="form-control form-select">
              <option></option>
              <option *ngFor="let option of relationOptionsByMember[i]" [value]="option">
                {{ 'home.setup.membre.relation.options.' + option | translate }}
              </option>
            </select>
          </app-input-container>
        </div>

        <div class="col-sm-4" data-cy="membre-date-naisance">
          <app-input-container identifier="{{ 'dateNaissanceMembre' + i }}"
                               required="true"
                               label="{{ 'home.setup.membre.dateNaissance.label' | translate }}"
                               [control]="membre.controls['dateNaissance']"
                               [errorLabels]="errorLabels">
            <app-date-input identifier="{{ 'dateNaissanceMembre' + i }}"
                            required="true"
                            [disabled]="!isLast"
                            [minDate]="minDateNaissance"
                            [maxDate]="maxDateNaissance"
                            [dateControl]="membre.controls['dateNaissance']">
            </app-date-input>
          </app-input-container>
        </div>

        <div class="col-sm-3" data-cy="membre-prenom">
          <app-input-container identifier="{{ 'prenomMembre' + i }}"
                               label="{{ 'home.setup.membre.prenom.label' | translate }}"
                               [control]="membre.controls['prenom']"
                               [errorLabels]="errorLabels">
            <input id="{{ 'prenomMembre' + i }}"
                   formControlName="prenom"
                   [attr.disabled]="!isLast ? 'disabled' : null"
                   [attr.aria-invalid]="isInvalid(membre.controls['prenom'])"
                   placeholder="{{ getDefaultPrenomByMembre(membre.value) }}"
                   type="text"
                   class="form-control">
          </app-input-container>
        </div>

        <div class="col-sm-1 text-right remove-btn-col">
          <button class="btn btn-danger"
                  [attr.disabled]="!isLast ? 'disabled' : null"
                  [title]="'home.setup.membre.supprimer' | translate"
                  [attr.aria-label]="'home.setup.membre.supprimer' | translate"
                  (click)="deleteMembre(i)">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 text-right">
        <button class="btn btn-info"
                [attr.disabled]="!setupForm.valid ? 'disabled' : null"
                [attr.aria-label]="'home.setup.membre.ajouter' | translate" s
                (click)="onAddMembre()"
                type="button"
                data-cy="ajouter-membre">
          <i class="fa fa-plus"></i> <span class="btn-text">{{'home.setup.membre.ajouter' | translate}}</span>
        </button>

        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-offset-6 col-sm-6 col-xs-12 text-justify checkbox">
        <label>
          <input type="checkbox" id="autres" formControlName="autres">
          {{'home.setup.autresCheckbox' | translate}}
        </label>
      </div>
    </div>

  </form>

  <hr>
</div>
