<div>
  <label [attr.for]="identifier"
         [id]="identifier + '_label'"
         class="control-label"
         [ngClass]="!isValid ? 'text-danger' : ''">
    {{ label }} <span *ngIf="required" class="form-required" title="{{ 'form.required' | translate }}">*</span>
  </label>

  <div [ngClass]="!isValid ? 'text-danger' : ''">
    <ng-content></ng-content>
  </div>

  <div *ngIf="!isValid && errors.length > 0"
       class="error-block text-danger"
       data-cy-label="validation_message"
       role="alert"
       [attr.aria-describedby]="identifier + '_label'">
    <p *ngFor="let error of errors">
      {{ 'common.errorPrefix' | translate }}
      {{ errorLabels && errorLabels[error] ? (errorLabels[error].key | translate:errorLabels[error].parameters) : 'erreur inconnu' }}
    </p>
  </div>
</div>
