<div class="navigation-controls row" (keyup)="$event.preventDefault()">
  <div *ngIf="!disablePrevious" class="previous-question col-xs-12 col-sm-6">
    <button class="btn btn-primary"
            data-cy='previousQuestion'
            [attr.aria-label]="'form.previous' | translate"
            (click)="onPreviousClicked.emit()"
            type="button">
      <i class="fa fa-chevron-left"></i> {{ 'form.previous' | translate }}
    </button>
  </div>

  <div *ngIf="!disableNext"
       class="next-question col-xs-12 text-right"
       [ngClass]="disablePrevious ? 'col-sm-12': 'col-sm-6'">
    <button class="btn btn-primary"
            data-cy='nextQuestion'
            [attr.aria-label]="'form.next' | translate"
            (click)="onNextClicked.emit()"
            type="button">
      {{ 'form.next' | translate }} <i class="fa fa-chevron-right"></i>
    </button>
  </div>
</div>
