<div class="navigation-controls row" (keyup)="$event.preventDefault()">
  <div class="previous-question col-xs-12 col-sm-6">
    <button class="btn btn-primary"
            data-cy='previousQuestion'
            [disabled]="disablePrevious"
            [attr.aria-label]="'form.previous' | translate"
            (click)="onPreviousClicked.emit()"
            type="button">
      <i class="fa fa-chevron-left"></i> {{ 'form.previous' | translate }}
    </button>
  </div>

  <div class="next-question col-xs-12 col-sm-6 text-right">
    <button class="btn btn-primary"
            data-cy='nextQuestion'
            [disabled]="disableNext"
            [attr.aria-label]="'form.next' | translate"
            (click)="onNextClicked.emit()"
            type="button">
      {{ 'form.next' | translate }} <i class="fa fa-chevron-right"></i>
    </button>
  </div>
</div>
