<div class="dropdown">
  <button class="btn btn-default dropdown-toggle copy-link-toggle"
          (click)="showCopyPanel = !showCopyPanel"
          type="button"
          title="{{ 'form.currentUrl.copyLink' | translate }}"
          [attr.aria-label]="'form.currentUrl.copyLink' | translate"
          [attr.id]="'deep-link-dropdown-btn-' + id"
          aria-haspopup="true"
          [attr.aria-expanded]="showCopyPanel">
    <i class="fa fa-link"></i>
    <span class="visible-xs-inline-block hidden-sm">{{ 'form.currentUrl.copyLinkShort' | translate }}</span>
  </button>

  <div *ngIf="showCopyPanel === true"
       class="deep-link-pop-in dropdown-menu pull-right show"
       [attr.aria-labelledby]="'deep-link-dropdown-btn-' + id">

    <label class="help-block" [attr.for]="'deep-link-input-' + id">
      {{ 'form.currentUrl.copyHelpText'| translate }}
    </label>

    <div class="input-group">
      <input class="deep-link-input form-control"
             type="text"
             [attr.id]="'deep-link-input-' + id"
             value="{{ currentUrl }}"
             readonly
             #deepLinkInput>
      <div class="input-group-addon has-btn">
        <button class="btn btn-info"
                type="button"
                (click)="copy()"
                [attr.aria-label]="'form.currentUrl.copyButton'| translate"
                title="{{ 'form.currentUrl.copyButton'| translate }}">
          <i class="fa fa-copy"></i>
        </button>
      </div>
    </div>
  </div>
</div>
